/* Общие стили */
body {
    font-family: 'Raleway', Arial, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

/* Шапка */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
}

/* Обложка */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background: url('../images/cover.jpg') center/cover no-repeat;
    color: white;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.15;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    margin: 20px 0;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 135px;
}

.cover__description-text {
    font-size: 22px;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Лоты */
.lots {
    padding: 180px 50px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background: url('../images/card-lot-01.jpg') center/cover no-repeat;
}

.card_type_book {
    background: url('../images/card-lot-02.jpg') center/cover no-repeat;
}

.card_type_picture {
    background: url('../images/card-lot-03.jpg') center/cover no-repeat;
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
}

/* Об аукционе */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 180px 50px 90px;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-content: end;
}

.footer__social-icon {
    width: 48px;
}
